<p id="notice"><%= notice %></p>

<h1>Ventas</h1>
<br>
<div>
<%= link_to 'Importar archivo', import_data_sales_path %>
</div>
<br>
<table>
  <thead>
    <tr>
      <th>Comprador</th>
      <th>Descripción del Item</th>
      <th>Precio del Item</th>
      <th>Total de Items</th>
      <th>Dirección de vendedor</th>
      <th>Vendedor</th>
    </tr>
  </thead>

  <tbody>
    <% if @sales.size == 0 %>
        <tr>
            <td colspan="6">
                No hay registros
            </td>
        </tr>
    <% else %>
        <% @sales.each do |sale| %>
        <tr>
            <td><%= sale.buyer.full_name %></td>
            <td><%= sale.item.description %></td>
            <td><%= number_to_currency(sale.item.price) %></td>
            <td><%= sale.quantity %></td>
            <td><%= sale.item.provider.address %></td>
            <td><%= sale.item.provider.name %></td>
        </tr>
        <% end %>
    <% end%>
  </tbody>
</table>
<br>

<div id="total-balance">
    <strong>Balance total:</strong> <%= number_to_currency(total_balance(@sales), precision: 2) %>
</div>

<br>

